<!DOCTYPE html>
<html lang="<%- settingGeneral.languaje.Spanish %>">
<head>
    <meta charset="<%- settingGeneral.charset %>">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/hyf.css">
    <title><%- index.title %> | <%- index.name.toUpperCase() %></title>
</head>
<body>
    
    <!--HEADER-->
    <%- include("partials/header.ejs") %>

    <!--MAIN-->
    <h1>Bienvenido a <%- index.name.toUpperCase() %></h1> 
    
    <!--FOOTER-->
    <%- include("partials/footer.ejs") %>

</body>
</html>