<!DOCTYPE html>
<html lang="<%- settingGeneral.languaje.Spanish %>">
    <!--HEAD-->
    <%- include("partials/head.ejs") %>
<body>
    
    <!--HEADER-->
    <%- include("partials/header.ejs") %>

    <!--MAIN-->
    <h1>Bienvenido a <%- index.name.toUpperCase() %></h1> 
    
    <!--FOOTER-->
    <%- include("partials/footer.ejs") %>

</body>
</html>