<!--
    Objects needs for works
    
-->
<!DOCTYPE html>
<html lang="<%- settingGeneral.languaje.Spanish %>">
    <!--HEAD-->
    <%- include("../partials/head.ejs") %>
    <body>

        <!--HEADER-->
        <%- include('../partials/header.ejs')%>

        
        <!--Se pasa el objeto a miniBanner-->
        <!--MiniBanner-->
        <% minibar = {
            title:"Admin",
            icon:"eos-icons:admin-outlined"
        } %> 
        <%- include('../partials/miniBanner.ejs')%>

        <!--MAIN-->
        <main>
            <!--AdminBar-->
            <%- include('../components/adminBar.ejs')%>

            <!--User-->
            <%- include('../components/user.ejs')%>

        </main>
        
    
        <!--FOOTER-->
        <%- include('../partials/footer.ejs') %> 
        
    </body>
</html>