<!--
    Objects needs for works

-->
<!DOCTYPE html>
<html lang="<%- settingGeneral.languaje.Spanish %>">
    <!--HEAD-->
    <%- include("../partials/head.ejs") %>
    <body>

        <!--HEADER-->
        <%- include('../partials/header.ejs')%>

        <!--MiniBanner-->
        <!--Config-->
            <% minibar = {
                title:"Admin",
                icon:"eos-icons:admin-outlined"
            } %> 
        <%- include('../partials/miniBanner.ejs')%>

        <!--MAIN-->
        <main>
            
            <!--ADMINBAR-->
            <%- include('../components/adminBar.ejs')%>    
            
            <!--Product view-->
            <%- include('../components/product.ejs')%>

        </main>
        
    
        <!--FOOTER-->
        <%- include('../partials/footer.ejs') %> 
        
    </body>
</html>